#logo{
    float:left;
    margin-left:20px;
    font-size:37px;
    margin-top:15px;
  color:white;
    font-weight:bold;
    
  }
  span{
    color:white;
    font-size:25px;
    margin:8px;
     cursor:pointer;
    font-family:black ops one;
  }
  
  #box1>span{
    font-size:60px;
    font-style:italic;
  word-spacing:12px;
    cursor:pointer;
    color:yellow;
    
  }
  
  a[target]{
    color:white;
    text-decoration:none;
    align-text:right;
    padding:25px;
  
    position:relative;
    top:20px;
    font-family:black ops one;
  }
  
  .nav{
    text-align:right;
    /* background:green; */
    margin-top:50px;
    height:70px;
     
    font-weight:bold;
  }
  
  body{
    /* background-image: url(background.jpg); */

    
    background:#ABA8A9; 

     
  }
  strong{
    padding:3px;
    font-size:20px;
    
    font-size:27px;
  
    position:relative;
    top:25px;
    margin-left:15px;
    
    
  }
  p{
    font-family:black ops one;
    color:yellow;
    padding:10px;
    font-style:italic;
    font-size:20px;
    line-height:0.3px;
  }
  
  a[target]:hover{
    color:red;
  }
  
  #logo:hover{
    color:blue;
  cursor:pointer;
  }
  
  
  
  .row{
    position: relative;
    width: 100%;
    margin-top:3px;
  }
  
  #box1 {
    width:500px;
    height: 400px;
    margin-top: 10px;
    margin-left: 20px;
   
  }
  
  #box3 {
    position: absolute;
    right: 0px;
   
    width:30rem;
    /* transition: width 2s, height 2s; */
    transition:all 0.5s ease-in-out;
    cursor: pointer;
   
  }

  #box3:hover{
    /* height:0px;
    width:0px; */
    transform:scale(2);
  
  }
  
  
  button{
    margin-left:50px;
    background:
    color:white;
  border:2px solid white;
    box-shadow:2px 2px black;
  cursor:pointer;
    border-radius:9px;
    font-size:20px;
  }


  h5{
    margin:10px;
    color:white;
    font-size: 15px;
  }
  
  
  button:hover{
    color:black;
    background:yellow;
  
  }
  /* footer{
    background:cyan;
    height:45px;
    
  }
  
  
  footer>a{
  margin:20px;
    padding:8px;
    text-decoration:none;
  
  } */

  h8{
    margin-left: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-family:black ops one;
    color: white;
  }

  h12{
    margin-left:150px;
    font-size: 20px;
    font-family:black ops one;
    font-style: italic;
  }

  #box1>strong{
    color:black;
    font-style: italic;
  }

  .h7{
    text-align: center;
    font-size: 25px;
    font-family: black ops one;
    font-style: italic;
    color: crimson;
    
  }

.p{
  padding-left: 100px;
  padding-right: 80px;
  line-height: 1.7;
  /* text-align: center; */
  
}

h14{
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}



.colu1{
 
  width:500px;
  height: 400px;
  margin-top: 50px;
  margin-left: 150px;
  transition:all 0.5s ease-in-out;

}
.colu1:hover{
  transform:scale(2);
}
.colu2{
  position: absolute;
  right:0px;
    width:500px;
  height: 300px;
  margin-top: 10px;
  margin-left: 20px;
  
}

.row2{
  display:grid;
}

.colu2{
  margin-top: 90px;
  margin-right: 120px;
}

#text{
font-size: 30px;
font-style: italic;
/* margin-left:80px; */

}

h20{
  font-size: 15px;
  font-family: 'Lucida Sans';
}
h16{
  font-size: 25px;
  font-weight: bold;
}

h11{
  font-size: 40px;
  font-style:italic;
  font-family:black ops one;
  color:yellow;
}

h18{
  font-size: 30px;
  font-style:italic;
  font-family:black ops one;
colo
}